<!DOCTYPE html>
<style type="text/css">
    p {
        color: grey;
        line-height: 30px;
        width : 150px;
        margin:10px 0px 10px 5px;
    }

    h1, h2, h3{
        margin:5px;
    }
    .productlist {
        border-left: 0.5px solid #D8D8D8;
        float: right;
        width: 85%;
        height:100%;
        padding:20px;
    }

    .cart{
        float:right;
        width:15%;
    }

    .button {
        position: absolute;
        margin:5px;
    }

    .paging > a {
        margin:5px;
    }

    table {
        width: 100%;
        border-bottom: 1px solid gray;
        border-collapse: collapse;
        margin-bottom: 10px;
        box-shadow: -1px 1px 3px 1px grey;
    }

    td, th {
        padding: 10px;
        border-bottom: 1px solid grey;
        text-align: center;
    }

    th {
        background-color: gray;
        color: white;
    }

    .category {
        width: 13%;
        height: auto;
    }

    .category a{
        margin-left : 5px;
        display: flex;
    }

    .paging{
        position: absolute;
        top: auto;
        left: 55%;
    }
    .write{
        position:absolute;
        top: 30%;
        left: 50%;
    }

</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Web Application</title>
</head>
<body>
    <vc:cart-summary/><br />
        @RenderBody()
    <div class="category">
        <vc:navigation-menu />
    </div>
</body>
</html>