<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Web Application</title>
</head>
<body>
    <div>
        <vc:navigation-menu />
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>