<Router AppAssembly="typeof(Program).Assembly">
    <Found>
        <RouteView RouteData="@context" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        <p>Page를 표시할 수 없음</p>
    </NotFound>
</Router>