@inherits LayoutComponentBase

<div>
    <p>관리자 페이지</p>
</div>
<div>
    <div>
        <NavLink href="/admin/products" Match="NavLinkMatch.Prefix">
            제품관리
        </NavLink>
        <NavLink href="/admin/orders" Match="NavLinkMatch.Prefix">
            주문관리
        </NavLink>
    </div>
</div>
<div>
    @Body
</div>